
/.metadata/

/bin
.metadata
.recommenders/
ch01-jumpstart/.classpath
ch01-jumpstart/.project
ch01-jumpstart/.settings
ch01-jumpstart/target

ch02-internals/.classpath
ch02-internals/.project
ch02-internals/.settings
ch02-internals/target

ch03-mastering/.classpath
ch03-mastering/.project
ch03-mastering/.settings
ch03-mastering/target

ch05-cobertura/.classpath    
ch05-cobertura/.project      
ch05-cobertura/.settings     
ch05-cobertura/target        

ch06-stubs/.classpath    
ch06-stubs/.project      
ch06-stubs/.settings     
ch06-stubs/target        

ch07-mocks/.classpath    
ch07-mocks/.project      
ch07-mocks/.settings     
ch07-mocks/target     

ch08-incontainer/.classpath
ch08-incontainer/.project
ch08-incontainer/.settings
ch08-incontainer/target

ch09-ant/.classpath
ch09-ant/.project
ch09-ant/.settings
ch09-ant/target

ch10-maven/.classpath
ch10-maven/.project
ch10-maven/.settings
ch10-maven/target

ch12-gui/.classpath
ch12-gui/.project
ch12-gui/.settings
ch12-gui/target

ch13-ajax/.classpath
ch13-ajax/.project
ch13-ajax/.settings
ch13-ajax/target

ch14-cactus/.classpath
ch14-cactus/.project
ch14-cactus/.settings
ch14-cactus/target

ch15-jsfunit/.classpath
ch15-jsfunit/.project
ch15-jsfunit/.settings
ch15-jsfunit/target

ch16-osgi/.classpath
ch16-osgi/.project
ch16-osgi/.settings
ch16-osgi/target

ch17-dbunit/.classpath
ch17-dbunit/.project
ch17-dbunit/.settings
ch17-dbunit/target

ch18-jpa/.classpath
ch18-jpa/.project
ch18-jpa/.settings
ch18-jpa/target

ch19-steroids/.classpath
ch19-steroids/.project
ch19-steroids/.settings
ch19-steroids/target

appb-customapi/.classpath
appb-customapi/.project
appb-customapi/.settings
appb-customapi/target

appC-sourceinfo/.classpath
appC-sourceinfo/.project
appC-sourceinfo/.settings
appC-sourceinfo/target

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
